.App {
  text-align: center;
  background-color: #e397d9;
  min-height: 100vh;
  min-width: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e397d9;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Body {
  margin: auto;
  width: 60%;
  border: 5px;
  padding: 10px;
}



