$matinee-pink: #e4b8e2
$matinee-cream: #fff3d9

*
    background-color: $matinee-cream

.nav-container
    padding-bottom: 3%

.InputForm
    background-color: $matinee-pink
    width: auto
    height: auto
    margin-left: auto
    margin-right: auto
    // box-shadow: black 0px 5px 10px
    text-align: center
    padding-top: 3%
    padding-bottom: 3%

.movie-display
    background-color: $matinee-pink
    display: flex
    flex-direction: column
    padding-top: 3%
    padding-bottom: 3%

.genre-container
    background-color: $matinee-pink

.genre-details
    background-color: $matinee-pink

.eras-container
    background-color: $matinee-pink

.eras-details
    background-color: $matinee-pink

.runtime-container
    background-color: $matinee-pink

.runtime-details
    background-color: $matinee-pink

.movie-details
    background-color: $matinee-pink
