$matinee-pink: #e4b8e2
$matinee-cream: #fff3d9

*
    background-color: $matinee-cream

.InputForm
    background-color: $matinee-pink
    display: flex
    flex-direction: column
    padding-top: 3%
    padding-bottom: 3%

.genre-container
    background-color: $matinee-pink

.eras-container
    background-color: $matinee-pink

.runtime-container
    background-color: $matinee-pink

.movie-display
    background-color: $matinee-pink
    display: flex
    flex-direction: column
    padding-top: 3%
    padding-bottom: 3%
